
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #f2f6fa;
    color: #222;
    font-family: sans-serif;
}
.width-wrap {
    max-width: 960px;
    margin: 0 auto 3em;
    padding: 0 2em 2em;
    background-color: #ffffff;
    border: solid rgba(0, 0, 0, 0.3);
    border-top: none;
}
h1, h2, h3 {
    color: #003366;
}
a {
    color: #0066cc;
    text-decoration: none;
}
header nav a {
    color: #cc5500;
}
::selection {
    background-color: #cceeff;
}
header {
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin: 0 -2em;
}
header nav {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    padding: 0 2em;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline;
}
header nav a {
    display: inline-block;
    padding: 1em 1em 0.5em;
    border-top: 4px solid transparent;
}
header nav a:hover {
    border-top-color: #cc5500;
}
footer p {
    width: clamp(300px, 50vw, 890px);
    margin: 3em auto 2em;
    border: none;
    border-bottom: 3px dotted #999;
}
dt::after {
    content: ":";
}
table td,
table th {
    padding: 0.3em 1em;
}
thead th,
tfoot td,
tbody th {
    background-color: rgba(0, 0, 0, 0.2);
}
tbody td {
    background-color: rgba(0, 0, 0, 0.05);
}
tbody tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.15);
}
label {
    display: block;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline;
}
input[type="submit"] {
    border: none;
    padding: 1em 3em;
    background-color: #0077cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input:invalid {
    background-color: #ffe6e6;
}
